/*overarching style that will effect everything unless it is overwritten by a more specific style */

body {
	font-family: tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#fff;
	background-color:#003366;
	margin: 4px 4px 4px 4px;
}

/*heading styles*/

h1 {
font-family: Garamond, tahoma, Helvetica, sans-serif;
font-size:26px;
margin:10px 0 0 0;
}

h2 {
font-family: Garamond, tahoma, Helvetica, sans-serif;
color:#CCCCCC;
font-size:22px;
}

h3 {
	font-family: Garamond, tahoma, Helvetica, sans-serif;
	color:#CCCCCC;
	font-size:18px;
	font-weight: bold;
}

h4 {
font-size:14px;
}

/*paragraph style */

p{

}

hr{
color:white;
}

/* link states */

a:link {
color:#FFF;
}

a:hover {
color:#CCC;

}

a:active {
color:#999;
}

a:visited {
color:#999;
}




/*standard table style*/

table{
/*standard blue BG*/
/*background-color:#003366;*/


}

td {
	margin:0;
	color:#fff;
	font-size:11px;
	padding:2px;
}


/* green table style */

.tablegreen{
/*prescription form green colour*/
}

.tablegreen table{
/*prescription form green colour*/
background-color:#D7F3AF;
}

.tablegreen table td{
/*prescription form green colour*/
background-color:#D7F3AF;
border: #336699 solid 1px;
color:#3366CC;
padding:3px;
}


/*standard form*/

.standardform{

}

.standardform table{

}

.standardform table td{

border: #336699 solid 1px;
color:#3366CC;
padding:3px;
}


/* blank table style */ 
 
.tableblank{ 
background-color:#FFF; 
} 
 
.tableblank table{ 
background-color:#FFF; 
} 
 
.tableblank table td{ 
background-color:#FFF; 
border: #FFF; 
border: #FFF solid 0px; 
color:#286BAE; 
padding:0px; 
} 
 
 
/* white table style */ 
 
.tablewhite{ 
background-color:#FFF; 
} 
 
.tablewhite table{ 
background-color:#FFF; 
} 
 
.tablewhite table td{ 
background-color:#FFF; 
border: #336699; 
border: #336699 solid 1px; 
color:#286BAE; 
padding:3px; 
} 
 
 
/* cream table style */

.tablecream{
background-color:#FFFFcc;
margin:0;
border:0;
}

.tablecream table{
background-color:#FFFFcc;
}

.tablecream table td{
background-color:#FFFFcc;
border: #336699 solid 1px;
color:#286BAE;
padding:3px;
}

.tablecream H2{
color:#286BAE;
}


.tablecream a:link{
color:#003366;
}

.tablecream a:hover {
color:#999;

}


.tablepink{
background-color:#FFFFcc;
margin:0;
border:0;
}

.tablepink table{
background-color:#FFFFcc;
}

.tablepink table td{
background-color:#FFFFcc;
border: #336699 solid 1px;
color:#333;
padding:3px;
}

.tablepink H2{
color:#333;
}


.tablepink a:link{
color:#003366;
}

.tablepink a:hover {
color:#999;

}


a:active {
color:#999;
}

a:visited {
color:#999;
}

/* grey table style */

.tablegrey{
background-color:#999;
}

.tablegrey table{
background-color:#999;
}

.tablegrey table td{
background-color:#999;
border: #336699 solid 1px;
color:#286BAE;
padding:3px;
}

.tablegrey table td a:visited{
color:#fff;
}



/*PART (cell)  of a table which should remain white*/

#whitesection td{
background-color:#fff;
}

/*PART (cell) of a table which should remain blue*/

#bluesection td{
background-color:#1563B0;
color:#FFF;
z-index:998;
}



/*this styles images that are being used as links: */

a:link img { 
border: solid #668899 2px;
}

a:hover img { 
border: solid #fff 2px;
}


/*Use this if you want to have an image as a link but do not want to use the above link style*/

#noimagebackground {
	width:30px;
	height:30px;
	margin-left:430px;
	cursor: help;	
	
}

#noimagebackground img {
/*
test style for the image border:
border:#fff 1px solid;
*/
border:none;
}

/*use this to style a submit button using rollovers. The code in the html looks like this:  

<INPUT TYPE="SUBMIT" class="mybutton" value="Confirm">

.myButton {
	background-image:url(images/NHS_Logo.gif);
	background-color:#FFFFFF;
	border:0;
	font-weight: bold;
}

.myButton:hover {
  background-image: url("");
}
*/
